{
  "plugins": [
    ["babel-plugin-module-resolver", {
      "alias": {
        "@theme/core": "./src/theme/index",
        "@theme/helpers": "./src/theme/helpers",
        "@theme/constants": "./src/theme/constants",
        "@components/core": "./src/components/index"
      }
    }]
  ]
}