.fill  {
  width: 100% !important;
}
.fill > div {
  height: 480px !important;
}

.full  {
  width: 100% !important;
  margin-bottom: 24vh !important;
}
.full > div {
  height: 480px !important;
}

.bannerHalf {
  width: 50% !important;
  /* min-height: 256px !important; */
}
